$bg-image-reset-password: 'https://www.netcompany.com/-/media/Netcompany/background-images/iStock_000068919409_Medium.ashx';
$icon-favorites: '../../assets/img/favorites.svg';
$bg-message-page: 'https://www.netcompany.com/-/media/Netcompany/background-images/forside/netcompany-succesfuld-it-virksomhed.ashx';