.file-viewer {
    width: auto !important;
    top: 0px;
    padding-bottom: 0px !important;
    height: 100vh !important;
    color: #fff;
    iframe {
        width: 100%;
        height: 100%;
        border: none;
        background: #fff;
    }
    .fa {
        padding: 10px;
    }
    .file-content {
        height: 100%;
    }
    .file-info {
        position: absolute;
        top: 0px;
        padding: 8px;
    }
    .ant-modal-close {
        border-left: solid 0.5px #fff;
    }
    .ant-modal-close:hover {
        background: #666;
    } 
    .ant-modal-close-x
    {
        width: 50px;
        height: 50px;
        line-height: 50px;
        color: #fff;
    } 
    .ant-modal-content {
        border-radius: 0px; 
        height: 100%;
    }
    .ant-modal-body {
        height: 100%;
        padding: 50px 0px !important;
        background: #333;
    }
    .ant-modal-footer {
        display: none;
    }
    .btn-download {
        position: absolute;
        top: 0px;
        right: 51px;
        z-index: 2;
        background: #333;
        border: none;
        color: #fff;
        padding: 8px;
        font-weight: bold;
    }
    .btn-download:hover {
        background: #666;
    }
    .btn-cancel {
        position: absolute;
        bottom: 0px;
        right: 0px;
        z-index: 2;
        background: #333;
        border: none;
        color: #fff;
        padding: 14px;
    }
    .btn-cancel:hover {
        background: #666;
    }
    .ant-spin {
        color: #333;
    }
    .ant-spin-dot i {
        background-color: #333;
    }
    .ant-spin-spinning {
        position: absolute;
        top: 50vh;
        left: 100vh;
    }
}
