body {
  height: 100%;
}

.wapper {
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background: #29a9ff;
  height: 100%;
  text-align: center !important;
  
}
.img{
  margin-bottom: 60px;
  margin-top: 20px;
}
.txt-sign{
  font-size: 44px;
  color: #29a9ff;
  font-weight: 550;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -1px;
}
.txt-forgot{
  font-size: 16px;
  font-weight: normal;
  font-style: oblique;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.4px;
  color: #6b7882 !important;
  cursor: pointer;
}
.btn-sign{
  width: 380px;
  height: 54px;
  border-radius: 27px;
  background-image: linear-gradient(97deg, #5fc5ff, #1d82ff);
  color: #ffffff;
  font-size: 20px;
  margin-bottom: 10px;
  cursor: pointer;
  padding-top: 7px;
}
.form-signin {
  width: 100%;
  max-width: 440px;
  padding: 15px;
  margin: auto;
  background: #ffffff;
  border-radius: 10px;
}
@media(max-width: 767.98px) {
  .img{
    width: 85%;
  }
  .form-signin{
    width: 90%;
  }
  .btn-sign{
    width: 307px;
  }
  .txt-sign{
    font-size: 36px;
  }
}