#reset-password .tooltip-arrow{
  color: #666;
}
#reset-password .tooltip-inner{
  background-color: #ffffff;
  color: #666;
  border: 1px solid #666;
  max-width: 300px;
}
#reset-password .title-tooltip{
  font-weight: 600;
  font-size: 1.2em;
  margin-bottom: 8px;
  margin-top: 10px;
}
#reset-password .tooltip-content{
  text-align: left;
}
#reset-password .tooltip-content .icon{
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 6px;
  line-height: 11px;
}
#reset-password .tooltip-content .valid{
  color: #666;
  margin-bottom: 7px;
}
#reset-password .tooltip-content .valid .icon{
  background-color: #009900;
}
#reset-password .tooltip-content .invalid{
  color: #f44336;
  margin-bottom: 7px;
  font-weight: 600;
}
#reset-password .tooltip-content .invalid .icon{
  border: 1px solid #f44336;
}