.footer-container p{
  color: #197195;
    font-size: 13px;
    text-align: center
}

.footer-container{
  background-color: #0f2147;
  padding-top: 20px;
  padding-bottom: 10px;
}

footer{
  height:50px;
  padding:10px;
  border-top:1px solid #ABABAB;
  position:fixed;
  left:0;
  bottom:0;
  width:100%
}

.nc-navbar {
  background-color: #103258; 
}

.navbar-brand {
  padding-left: 10px;
  font-size: 2.3em;
  color: white; 
}

img.logo-image{
  max-width: 50%;
    height: auto;
}

.navbar{
  min-height: 100px;
}

.end-quiz-view h2, .end-quiz-view h3{
  color: #fff;
}
.completed-quiz-view h2, .completed-quiz-view h3{
  color: #fff;
}