@import '../../styles/common.scss';
.message-page{
  background: url($bg-message-page) no-repeat center;
  background-size: cover;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  color: #ffffff;
  padding-top: 30vh;
  overflow-y: auto;
  text-align: center;
  font-size: 24px;
  &::before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .6);
    z-index: 1;
  }
}
.message-page .content{
  position: relative;
  z-index: 2;
}
.message-page .back-home-page{
  padding-top: 30px;
  font-size: 14px;
}
.message-page .back-home-page a{
  color: #ffffff;
  text-decoration: underline;
}
.message-page .reset-password-success {
  color: #ffffff;
}
.message-page .candidate-does-not-register{
  color: #ffffff;
}
.message-page .reset-password-success a{
  color: #1890FF;
  text-decoration: underline;
}